<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>F5/iRule</string>
	<key>ordering</key>
	<array>
		<string>66B6847C-B31A-4CF4-ABD1-8C068AB730F0</string>
		<string>7305A4C0-3E8A-45D8-B346-7BE318145308</string>
		<string>9636BEB3-DA81-4D9A-9030-E5A662CFCD1F</string>
		<string>C4AC6126-7725-4185-BCE0-A9AFFE5148FB</string>
		<string>18B3DAE6-F9FB-4AD5-BB30-13A3B5E07168</string>
	</array>
	<key>uuid</key>
	<string>9BD85FDF-DB03-4F62-B059-7B4C03CDE337</string>
</dict>
</plist>
