<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>F5/iRule</string>
	<key>uuid</key>
	<string>9BD85FDF-DB03-4F62-B059-7B4C03CDE337</string>
</dict>
</plist>
